/ {
	gpio_pin {
		compatible = "gpio-keys";
		vibration_output: output_pin  {
			label = "Vibration Output";
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		};
	};

};

&i2c0 {
	status = "okay";
	bmi160@68 {
		compatible = "bosch,bmi160";
		reg = <0x68>;
	};

};